<a href="https://colab.research.google.com/github/no22089/CE880-Lab-Task/blob/main/week_2_exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/sagihaider/CE880.git

Cloning into 'CE880'...
remote: Enumerating objects: 403, done.
remote: Counting objects: 100% (220/220), done.
remote: Compressing objects: 100% (114/114), done.
remote: Total 403 (delta 120), reused 197 (delta 106), pack-reused 183
Receiving objects: 100% (403/403), 7.81 MiB | 22.28 MiB/s, done.
Resolving deltas: 100% (187/187), done.

In [9]:
# Unzip Data 
from zipfile import ZipFile
file_name = "/content/CE880/Data/Data.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [10]:
import pandas as pd
filename ="/content/Data/heart.csv"
data = pd.read_csv(filename)
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0